<div class="sidebar">
    <ul>
        <li><a href="/admin">Home</a></li>
        <li><a href="/admin/manage-servers">Manage Servers</a></li>
        <li><a href="/admin/create-server">Create Server</a></li>
        <li><a href="/admin/manage-software">Manage Software</a></li>
        <!-- Add more links as needed -->
    </ul>
</div>
