body {
    font-family: Arial, sans-serif;
    background-color: #0f0f1a;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #191932;
    padding: 20px;
    height: 100vh;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar ul li.active a {
    color: #fff;
    font-weight: bold;
}

.sidebar ul li a {
    text-decoration: none;
    color: #aaa;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.server-container {
    display: flex;
    flex-wrap: wrap;
}

.server-card {
    width: 300px;
    background: #222244;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

.server-banner {
    height: 100px;
    background-color: #333;
    border-radius: 10px;
}

.server-info {
    padding: 10px;
}

.manage-btn {
    display: block;
    text-align: center;
    background: #4444ff;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

.status.online {
    color: green;
}

.status.offline {
    color: red;
}
